﻿@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @Model.SensitiveData</h1>
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
	    <form id="theForm" action="https://WoodgroveBank.com/DoTransfer" method="post">
        <input type="hidden" name="toAcct" value="67890"/>
        <input type="hidden" name="amount" value="250.00"/>
    </form>
</div>
